body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:#858585;
    text-align:center;
}

ul{
	padding:0;
	list-style-type:none;
}

.wow {
    visibility: hidden;
}
